.form-inline {
    display: flex;

    .form-group {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .form-control {
        width: auto;
    }
}

label.required:after {
    color: var(--color-danger);
    content: ' *'
}

.loading-indicator {
    display: none;
}

.loading {
    .loading-indicator {
        display: inline-block;
    }
}

.select--notes {
    min-width: 2.5rem;
}

.select--octaves {
    min-width: 2rem;
}