.form-inline {
    display: flex;

    .form-group {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .form-control {
        width: auto;
    }

    .form-label {
        margin-bottom: 0;
    }
}

label.required:after {
    color: var(--color-danger);
    content: ' *'
}

.select--notes {
    min-width: 2.5rem;
}

.select--octaves {
    min-width: 2rem;
}