@page "/about"
@layout ContentLayout
@attribute [AllowAnonymous]
@using NoteMapper.Web.Blazor.Shared.Layouts;

<h1>About</h1>

<h3>What is Note Mapper?</h3>
<p>
    Note Mapper is a website that aims to help Pedal Steel Guitar players discover the playing positions available to them in their setup.
</p>

<h3></h3>