<AuthorizeView>
    <Authorized>
        <div class="dropdown p-0">
            <button class="btn p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="bi bi-person text-light fs-2"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="/account/logout">Logout</a>
                </li>                
            </ul>
        </div>        
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-light me-1" href="/account/login">Login</a>
        <a class="btn btn-outline-light" href="/account/register">Register</a>
    </NotAuthorized>
</AuthorizeView>
