<AuthorizeView>
    <Authorized>
        <a class="btn btn-outline-light" href="/account/logout">Logout</a>        
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-light me-1" href="/account/login">Login</a>
        <a class="btn btn-outline-light" href="/account/register">Register</a>
    </NotAuthorized>
</AuthorizeView>
