@using NoteMapper.Web.Blazor.Shared.Structure
@inherits LayoutComponentBase

<PageTitle>NoteMapper.Web.Blazor</PageTitle>

<div class="page">    
    <Header />
    <main>        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
