@using NoteMapper.Web.Blazor.Shared.Structure
@inherits LayoutComponentBase

<PageTitle>NoteMapper.Web.Blazor</PageTitle>

<div class="page">    
    <header>
        <Navbar />
    </header>
    <main>        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
