@using NoteMapper.Web.Blazor.Shared.Components.Notifications
@using NoteMapper.Web.Blazor.Shared.Logging
@using NoteMapper.Web.Blazor.Shared.Structure
@inherits LayoutComponentBase

<PageTitle>Note Mapper</PageTitle>

<header>
    <Navbar />
</header>
<div class="container-xl px-md-5 main">    
    <div class="content position-relative">
        <NotificationContainer />
        @*<LoggingErrorBoundary>
        <ChildContent>
        @ChildContent
        </ChildContent>
        <ErrorContent>
        <h1 class="text-danger">Error</h1>
        <p class="text-danger">An error occurred while processing your request.</p>
        <p>
        The error has been logged.
        Any relevant information you could send via the <a href="/contact">contact</a> page would be gratefully received.
        </p>
        </ErrorContent>
        </LoggingErrorBoundary>*@
        @ChildContent
    </div>  
</div>

@code {
    [Parameter] 
    public RenderFragment? ChildContent { get; set; }  
}