@using NoteMapper.Web.Blazor.Shared.Logging
@using NoteMapper.Web.Blazor.Shared.Structure
@inherits LayoutComponentBase

<PageTitle>Note Mapper</PageTitle>

<header>
    <Navbar Fluid="true" ContainerClass="@ContainerClass" />
</header>
<div class="container-xl @ContainerClass main">
    <div class="content @PageClass">
        @*<LoggingErrorBoundary>
        <ChildContent>
        @ChildContent
        </ChildContent>
        <ErrorContent>
        <h1 class="text-danger">Error</h1>
        <p class="text-danger">An error occurred while processing your request.</p>
        <p>
        The error has been logged.
        Any relevant information you could send via the <a href="/contact">contact</a> page would be gratefully received.
        </p>
        </ErrorContent>
        </LoggingErrorBoundary>*@
        @ChildContent
    </div>
</div>

@code {
    [Parameter] 
    public RenderFragment? ChildContent { get; set; }

    string ContainerClass { get; set; } = "px-md-5";

    [Parameter]
    public bool Fluid { get; set; } = true;    

    [Parameter]
    public string? PageClass { get; set; }
}