@using NoteMapper.Web.Blazor.Shared.Logging
@using NoteMapper.Web.Blazor.Shared.Structure
@inherits LayoutComponentBase

<PageTitle>Note Mapper</PageTitle>

<div class="page">
    <header>
        <Navbar Fluid="@Fluid" ContainerClass="@ContainerClass" />
    </header>
    <main>
        <div class="@(Fluid ? "container-xl" : "container") @ContainerClass">
            <article class="content">
                <LoggingErrorBoundary>
                    <ChildContent>
                        @ChildContent
                    </ChildContent>
                    <ErrorContent>
                        <h1 class="text-danger">Error</h1>
                        <p class="text-danger">An error occurred while processing your request.</p>
                        <p>
                            The error has been logged. 
                            Any relevant information you could send via the <a href="/contact">contact</a> page would be gratefully received.
                        </p>
                    </ErrorContent>
                </LoggingErrorBoundary>
            </article>
        </div>
    </main>
</div>

@code {
    [Parameter] 
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? ContainerClass { get; set; }

    [Parameter]
    public bool Fluid { get; set; } = true;    
}