@page "/instruments/{id:guid}/edit"
@inherits NoteMapperComponentBase
@attribute [Authorize]

@using NoteMapper.Core
@using NoteMapper.Core.MusicTheory
@using NoteMapper.Data.Core.Instruments
@using NoteMapper.Data.Core.Users
@using NoteMapper.Services.Feedback
@using NoteMapper.Services.Instruments
@using NoteMapper.Services.Web.Instruments
@using NoteMapper.Services.Web.ViewModels.Instruments
@using NoteMapper.Web.Blazor.Shared.Components
@using NoteMapper.Web.Blazor.Shared.Instruments

<PageTitle>Edit instrument</PageTitle>

@if (Model == null)
{
    <Loading />
    return;
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/instruments">Instruments</a>
        </li>
        <li class="breadcrumb-item active">
            @UserInstrument?.Name
        </li>
    </ol>
</nav>

<Feedback Model="Feedback" />

<h1>Edit instrument</h1>

<EditForm Model="@Model" Context="editContext" OnValidSubmit="UpdateInstrumentAsync">
    
    <fieldset disabled="@Updating">
        <InstrumentForm Model="@Model" EditContext="@editContext" />

        <div class="d-flex">
            <button class="btn btn-primary me-1">
                Update
                @if (Updating)
                {
                    <ButtonSpinner />
                }
            </button>

            <a class="btn btn-outline-secondary" href="/instruments">
                Cancel
            </a>

            @if (User?.IsAdmin == true)
            {
                <button class="btn btn-secondary ms-auto" type="button" @onclick="ConvertToDefaultAsync">
                    Convert to default
                </button>
            }
        </div>
    </fieldset>    
</EditForm>

<CopedantLinks />

@inject IFeedbackService FeedbackService
@inject IUserInstrumentService UserInstrumentService
@inject IUserInstrumentViewModelService UserInstrumentViewModelService
@code {
    [Parameter]
    public Guid Id { get; set; }

    bool Loading { get; set; }

    InstrumentEditViewModel? Model { get; set; }

    bool Updating { get; set; }

    User? User { get; set; }

    UserInstrument? UserInstrument { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = await GetCurrentUserAsync();
        if (User == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        UserInstrument = await UserInstrumentService.FindUserInstrumentAsync(User.UserId, Id.ToString());
        
        if (UserInstrument == null)
        {
            NavigationManager.NavigateTo("/instruments");
            return;
        }

        if (UserInstrument.UserId != User.UserId && !User.IsAdmin)
        {
            NavigationManager.NavigateTo("/instruments");
            return;
        }

        Model = await UserInstrumentViewModelService.MapUserInstrumentToEditViewModelAsync(User.UserId, UserInstrument);
    }

    async Task ConvertToDefaultAsync()
    {
        if (Model == null || UserInstrument == null || User == null)
        {
            return;
        }

        UserInstrumentViewModelService.MapEditViewModelToUserInstrument(Model, UserInstrument);

        ServiceResult result = await UserInstrumentService.ConvertToDefaultAsync(User.UserId, UserInstrument);
        if (result.Success)
        {
            NavigationManager.NavigateTo("/instruments");
            return;
        }

        SetFeedback(result);
    }

    async Task UpdateInstrumentAsync()
    {
        if (Model == null || UserInstrument == null || User == null)
        {
            return;
        }

        Updating = true;

        UserInstrumentViewModelService.MapEditViewModelToUserInstrument(Model, UserInstrument);

        ServiceResult result = await UserInstrumentService.UpdateInstrumentAsync(User.UserId, UserInstrument);
        if (result.Success)
        {
            FeedbackService.Notify(new FeedbackMessage(result));
            NavigationManager.NavigateTo("/instruments");
            return;
        }

        Updating = false;

        SetFeedback(result);
    }
}
